// Specify overrides (theme and/or base variables etc.)
// viapangroup colors
$theme := {
  primary: '#bfd1d9',
  secondary: '#edccbf',
  accent: '#82B1FF',
  error: '#d6262e',
  info: '#0373bd',
  success: '#63a830',
  warning: '#ffde40'
}

// Main transition effect.
.page-enter-active, .page-leave-active {
  transition: opacity .25s
}
.page-enter, .page-leave-active {
  opacity: 0
}

// Paginate transition effect.
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
