<template>
  <div class="">
    <!-- <headervue></headervue> -->
    <nuxt/>
  </div>
</template>

<script>
// Import your header
// import headervue from "~/components/shared/header";
export default {
  components: {
    // headervue
  }
}
</script>


<style>
  html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size:cover;
  }
  body {
  background: none;
  }

</style>
